@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.alpinist-page {
    font-family: Montserrat, sans-serif;
    display: flex;

}

.content__wrapper {
    max-width: 1000px;
    margin: 40px auto;
    font-size: 15px;
}

.content__box {

}

.content__column {
    background-color: #D2DBDD;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 50px !important;
}

.content__box::after {
    position: relative;
    z-index: -1;
    background-color: #D2DBDD;
    box-shadow: 0 .2em 1em hsla(20, 20, 20, 20%);
}


.content__image {
    max-width: 130%;
    vertical-align: middle;
    position: relative;
    left: -85%;
    top: 20%;
}

.content__header {
    font-size: 4em;
    line-height: 1em;
    margin: 0 0 1rem;
    font-family: serif;
    position: relative;
    font-weight: bold;
}

.content__header::after {
    position: absolute;
    width: 6rem;
    background-color: hsl(0, 0%, 80%);
    height: 2px;
    top: 0;
    left: 0;
}

.content {
    color: hsl(0, 0%, 30%);
    margin-bottom: 2rem;
    overflow: hidden;
}

.content__attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ea4c89;
    color: white;
    padding: .5em 1em;
}